.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.4);
        z-index: 2;
    }
    .content {
        position: absolute;
        top: 10vh;
        left: 10vw;
        height: 40vh;
        width: 80vw;
        background-color: #999999;
        z-index: 3;
    }

    .button {
        background-color: #0460cc;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: normal;
        line-height: 24px;
        padding: 4px 8px;
        transition: background-color 0.1s linear;
        border: none;
        margin: auto;
        margin-top: 12px;
        width: 100%;
    }
}
