@import "../mixins";

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0,0,0,.4);
        z-index: 2;
    }
    .content {
        position: absolute;
        top: 10vh;
        left: 10vw;
        height: 40vh;
        width: 80vw;
        background-color: white;
        z-index: 3;
    }

    .button {
        display: block;
        z-index: 4;
        @include buttonLook();
    }
}
