@import '../mixins';

.container {
    margin: 0 auto;
    max-width: 1120px;
    padding: 20px;
}

.button {
    @include buttonLook();
}

.buttonContainer {
    padding: 20px;
    margin-bottom: 40px;
}