.header {
    height: 64px;
    background-color: #fef200;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 20px 0;

    @media (max-width: 420px) {
        justify-content: center;
        gap: 0;
        svg {
            display: none;
        }
    }

    svg {
        fill: black;
        height: 30px;
    }

    h2 {
        margin: 0;
    }
}
