.footer {
    height: 64px;
    background-color: #1d1d1b;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    img {
        height: 48px;
        width: 48px;
    }
}